ClassLibrary1/bin/
ClassLibrary1/obj/
ConsoleApplication1/bin/
ConsoleApplication1/obj/
*.pdb
ConsoleApplication1/tester/$RANDOM_SEED$
ConsoleApplication1/tester/ConsoleApplication1.vshost.exe
ConsoleApplication1/tester/ConsoleApplication1.vshost.exe.config
ConsoleApplication1/tester/ConsoleApplication1.vshost.exe.manifest
*.cache
WindowsService1/obj/
WindowsService1/bin/
WindowsService1/service/$RANDOM_SEED$
WindowsService1/service/WindowsService1.vshost.exe
WindowsService1/service/WindowsService1.vshost.exe.config
WindowsService1/service/WindowsService1.vshost.exe.manifest
*.suo
notifier/TrayApp.vshost.exe
notifier/TrayApp.vshost.exe.config
notifier/TrayApp.vshost.exe.manifest
TrayApp/obj/
*.log
lbsa71.TimedScreenLocker.Core/bin/
lbsa71.TimedScreenLocker.Core/obj/
lbsa71.TimedScreenLocker.Test/obj/
lbsa71.TimedScreenLocker.Test/tester/$RANDOM_SEED$
lbsa71.TimedScreenLocker.Test/tester/ConsoleApplication1.vshost.exe
lbsa71.TimedScreenLocker.Test/tester/ConsoleApplication1.vshost.exe.config
lbsa71.TimedScreenLocker.Test/tester/ConsoleApplication1.vshost.exe.manifest
lbsa71.TimedScreenLocker.TrayApp/obj/
